<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ComputationWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65276/ComputationWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="ComputationWebServiceSoap"
                contract="ComputationWebServiceReference.ComputationWebServiceSoap"
                name="ComputationWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>